@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "oswald, sans-serif";
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
}

.search {
  display: flex;
  width: 50%;
  max-width: 60rem;
}

.search input {
  padding: 0.5rem 1rem;
  width: 100%;
}
.search input:focus-visible {
  outline: 1px solid purple;
}

.primary-btn {
  background-color: purple;
  color: white;
  padding: 1rem 0.5rem;
  border: none;
}

.primary-btn:hover {
  background-color: rgb(80, 7, 80);
  cursor: pointer;
}

.primary-btn:active {
  background-color: rgb(202, 7, 202);
}

/* Profile Card */
#profileContainer {
  width: 100%;
}
.profile-box {
  margin: auto;
  padding: 4rem 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 78rem;
  transition: 0.3s ease-out;
}

.profile-box:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.3s ease-in;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 1);
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.top-section button {
  align-self: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left h1 {
  font-size: 1.6rem;
}

.avatar {
  height: 10rem;
  width: 10rem;
}

.avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.about {
  margin: 2rem;
}

.status {
  display: grid;
  margin: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.status-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
